<input type="text" [(ngModel)]="title"> {{title}}

<div [ngSwitch]="title">
    <p *ngSwitchCase="'natalia'"> esta es natalia</p>
    <p *ngSwitchCase="'ana'">Esta es Ana</p>
    <p *ngSwitchCase="'tato'">Este es Tato</p>
    <p *ngSwitchDefault>Nada coincide :v</p>
</div>



<div *ngIf="title === 'natalia'">
    Esto es un div
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <h1 *ngIf="list.length === 0">La lista esta vacia</h1>

    <li *ngFor="let name of list; index as i">
        {{name}}{{i}}
        <button (click)="deleteItem(i)">Delete item</button>
    </li>

</ul>

<div class="product-grid">
    <app-product *ngFor="let product of products" (productClicked)="clickProduct($event)" [product]="product">
    </app-product>
</div>